body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./src/assets/images/global/2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1,
p,
small {
  color: white;
}

h1 {
  font-size: 3em;
}


small {
  font-size: .7em;
}

a {
  color: white;
  text-decoration: none;
}

audio {
  display: none;
  z-index: 999;
  right: 0;
  bottom: 0;
}

// backgorund motion
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

#wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  // padding-top: 5em;
  margin-top: auto;
  text-align: center;
}
