body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./src/assets/images/global/2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1,
h2,
h4,
p,
li,
small {
  color: white;
  line-height: 1.5;
}

h1 {
  font-size: 3.5em;
  font-family: $firstFont;
  font-weight: bold;
}

h2 {
  font-size: 3.5em;
  font-family: $firstFont;
  font-weight: bold;
  padding-bottom: .3em;
}

h4 {
  font-size: 1.3em;
  font-family: $firstFont;
  font-weight: bold;
  padding-bottom: .8em;
}

p {
  font-family: $secondFont;
  font-size: 1.3em;
  line-height: 1.5;
  margin-bottom: 1em;
}

li {
  font-family: $secondFont;
}

small {
  font-size: .7em;
}

a {
  color: white;
  text-decoration: none;
  font-family: $secondFont;
}

audio {
  display: none;
  z-index: 999;
  right: 0;
  bottom: 0;
}

// backgorund motion
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

#wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  // padding-top: 5em;
  margin-top: auto;
  text-align: center;
}








// wordperss plugin
.wptime-plugin-progress-wrap,
.wptime-plugin-progress-bar {
  border: solid 2.5px white;
  // background: transparent !important;
}

.wptime-plugin-progress-wrap {
  overflow: hidden;
  border-radius: 20px;
  background: transparent !important;
}

.wptime-plugin-progress-bar {
  background: white !important;
}

.wptime-plugin-progress-wrap span {
  color: black !important;
  font-family: $secondFont !important;
  padding-left: 1em;
}
