.container {
  height: 100%;
  background: red;
}

.contents {
  width: 86%;
  margin: 0 auto;
  background: pink;
}


.contents__main {
  padding-top: 8em;
  background: green;
  padding-bottom: 8em;
}
