.current {
  background: black;
}


.hamburger {
  width: 40px;
  height: 25px;
  position: fixed;
  cursor: pointer;
  top: 2.5%;
  right: 5%;
  z-index: 99999;

  @include pc {
    display: none;
  }
}

.hamburger__line {
  display: block;
  position: absolute;
  height: 3px;
  width: 90%;
  border-radius: 5px;
  opacity: 1;
  background: silver;
  right: 50%;
  transform: translate(50%, 0);

  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2) {
    top: 50%;
    transform: translate(50%, -50%);
  }

  &:nth-child(3) {
    bottom: 0;
  }
}
