.front {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: 'Abril Fatface',
    cursive;

}

.front__contents {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  overflow: hidden;
  color: white;
}

.front__contents__siteTitle {
  position: relative;
  font-size: 3em;
  padding: .5em 0;
  letter-spacing: 2px;
  overflow: hidden;
  font-weight: bold;

  @include sp {
    letter-spacing: 4px;
    font-size: 2.2em;
  }

  @include pc {
    letter-spacing: 4px;
    font-size: 6em;
  }
}

.front__contents__siteSubTitle {
  font-size: 1em;
  line-height: 1.5;

  @include pc {
    font-size: 2em;
  }
}
